<nav class="navbar navbar-default navbar-static-top navbar">
  <div class="container" style="margin-left: 0px; padding:0px;position:absolute;left:25px;"  >
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Internet of Dogs</a>
    
  </div>
    <ul class="nav navbar-nav">
      <li style="left: 0px">
        <a href="">Monitor</a>
      </li>
      <li>
        <a href="">Settings</a>
      </li>
  </div>
</nav>
